<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.nogrep.torchbutton"
    android:versionCode="4"
    android:versionName="1.3">

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="34" />

    <application
        android:label="Torch Button"
        android:icon="@drawable/ic_launcher"
        android:allowBackup="false"
        android:hasCode="true">

        <!-- Settings UI launched from the app drawer. -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Torch Button">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Quick Settings tile for one-tap enable/disable. -->
        <service
            android:name=".TorchToggleTileService"
            android:label="Torch Button"
            android:icon="@drawable/ic_torch"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- Receiver the native daemon broadcasts to in order to drive the torch. -->
        <receiver
            android:name=".TorchReceiver"
            android:exported="true"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="me.nogrep.torchbutton.SET" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
